@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
.navbar{
  position: sticky;
  width: 100%;
  top: 0%;
}
.logo{
    font-family: 'Merienda';   
}
body {
  position: relative;
  height: 100%;
}
body {
  position: relative;
  height: 100%;
}
.service-icon {
  margin-right: 15px;
  width: 45px;
  height: 45px;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 45px;
  color: #33211D;
  background: #DA9F5B;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}
.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-caption h2{
  margin-left: -490px;
  font-size: 160px;
  font-family: 'Merienda';
}
.img{
  margin-top: -50px !important;
  position: sticky;
}
.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
 
}
.main{
  background-color:  #f6f2e8 !important;
}
.section-title {
    position: relative;
    padding: 115px 0 35px 0;
    text-align: center;
}
.display-4{
    font-family: 'Merienda';
}
.reservation, .page-header, .offer, .footer {
  background: linear-gradient(rgba(51,33,29,0.9), rgba(51,33,29,0.9)),url(../bg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.text-center {
  text-align: center !important;
}
.position-relative {
  position: relative !important;
}
.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.button{
  background-color: #DA9F5B !important; 
}
.text-primary {
  color: #DA9F5B !important;
}
.mb-4, .my-4 {
  margin-bottom: 1.5rem !important;
}
.text-white {
  color: #fff !important;
}
.justify-content-center {
  justify-content: center !important;
}
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.pt-5, .py-5 {
  padding-top: 3rem !important;
}
.row.menu-price{
  position: absolute !important;
  margin: 0;
  top: -5px;
  right: 10px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 45px;
  color: #33211D !important;
  background: #DA9F5B !important;
}
.text1{
  font-family: 'Kalam';
}
.border-primary {
  border-color: #DA9F5B !important;
}
.bg-transparent {
  background-color: transparent !important;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #707478 ;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
.form-group{
  color: #ced4da;
}
.p-4 {
  padding: 1.5rem !important;
}
.btn-primary{
  border: #DA9F5B;
   background-color: #DA9F5B !important;
}
.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  border: 1px solid #ced4da;
  border-radius: 0;
  appearance: none;
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}


@media (max-width:575px){
    .carousel-caption h5{
        margin-top: 10px !important;
        margin-left: 100px !important;
        font-size: 18px;
        font-family: 'Merienda';
      }
      .carousel-caption h2{
        margin-left: 70px;
        font-size: 20px !important;
        font-family: 'Merienda';
      }
      .img{
        margin-top: 340px !important;
        position: sticky;
      }
      .position-absolute{
        size: 70px;
      }
      .display-4{
        font-size: 40px;
        font-family: 'Merienda';
    }
    .text-center h4{
        margin-top: -100px !important;
    }
 
  
}
@media (min-width: 768px) and (max-width:991.99px){
    .carousel-caption h5{
        margin-top: -230px !important;
        margin-left: -270px;
        font-size: 18px;
        font-family: 'Merienda';
      }
      .carousel-caption h2{
        margin-left: -270px;
        font-size: 70px;
        font-family: 'Merienda';
      }
      .img{
        margin-top: -24px !important;
        position: sticky;
      }
      .position-absolute{
        size: 70px;
      }
      .display-4{
        font-size: 40px;
        font-family: 'Merienda';
    }
    .text-center h4{
        margin-top: -100px !important;
    }
}
@media (min-width:576px) and (max-width:767.99px) {
    .carousel-caption h5{
        margin-top: -230px !important;
        margin-left: -270px;
        font-size: 18px;
        font-family: 'Merienda';
      }
      .carousel-caption h2{
        margin-left: -270px;
        font-size: 70px;
        font-family: 'Merienda';
      }
      .img{
        margin-top: -24px !important;
        position: sticky;
      }
      .position-absolute{
        size: 70px;
      }
      .display-4{
        font-size: 40px;
        font-family: 'Merienda';
    }
    .text-center h4{
        margin-top: -100px !important;
    }
  
}
@media (min-width: 768px) and (max-width:991.99px){
    .carousel-caption h5{
      margin-top: -230px !important;
      margin-left: -270px;
      font-size: 18px;
      font-family: 'Merienda';
    }
    .carousel-caption h2{
      margin-left: -270px;
      font-size: 70px;
      font-family: 'Merienda';
    }
    .img{
      margin-top: -24px !important;
      position: sticky;
    }
    .position-absolute{
      size: 70px;
    }
    .display-4{
      font-size: 40px;
      font-family: 'Merienda';
  }
  .text-center h4{
      margin-top: -100px !important;
  }
  
  
}
@media (min-width: 992px) and (max-width:1199px){
    .carousel-caption h5{
      margin-top: -320px !important;
      margin-left: -290px;
      font-size: 18px;
      font-family: 'Merienda';
    }
    .carousel-caption h2{
      margin-left: -290px;
      font-size: 70px;
      font-family: 'Merienda';
    }
    .img{
      margin-top: -24px !important;
      position: sticky;
    }
    .position-absolute{
      size: 70px;
    }
    .display-4{
      font-size: 40px;
      font-family: 'Merienda';
  }
  .text-center h4{
      margin-top: -100px !important;
  }


}
@media (min-width: 1200px){
  .carousel-caption h5{
    margin-top: -460px !important;
    margin-left: -360px;
    font-size: 39px;
    font-family: 'Merienda';
  }
  .carousel-caption h2{
    margin-left: -350px;
    font-size: 180px;
    font-family: 'Merienda';
  }
  .img{
    margin-top: -24px !important;
    position: sticky;
  }
  .position-absolute{
    size: 70px;
  }
  .display-4{
    font-size: 40px;
    font-family: 'Merienda';
}
.text-center h4{
    margin-top: -100px !important;
}

}
